header div.global-nav-header {
  position: sticky;
  top: 0;
  display: flex;
  padding-left: 24px;
  border-bottom: 1px solid #eaeaea;
  text-decoration: none;
  background-color: #fff;
  z-index: 10;
  padding-left: var(--spectrum-global-dimension-size-400);
  padding-right: var(--spectrum-global-dimension-size-400);
}

header.global-nav-header img.icon {
  height: 18px;
  width: 22px;
  margin-right: 8px;
}

header.global-nav-header p {
  color: var(--spectrum-global-color-gray-700);
  display: flex;
  align-items: center;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
}

header.global-nav-header a.nav-console-adobeio-link-text {
  margin-bottom: 6px;
}

header.global-nav-header a.nav-console-adobeio-link-text {
  text-decoration: none;
}

header.global-nav-header strong.icon-adobe-label {
  color: #fa0f00;
  font-size: 15px;
  white-space: nowrap;
}

header.global-nav-header div.nav-view-docs-button {
  display: flex;
  margin-left: 16px;
  align-items: center;
  white-space: nowrap;
}

header.global-nav-header > ul#navigation-links {
  overflow-x: auto;
  overflow-x: overlay;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 24px;
  display: flex;
  white-space: nowrap;
}

header.global-nav-header > ul#navigation-links::-webkit-scrollbar  {
  display: none;
}

header.global-nav-header > ul#navigation-links > li.navigation-products {
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  padding: 0;
  margin-right: 16px;
}

header.global-nav-header > ul#navigation-links > li.navigation-products a {
  align-items: center;
  text-decoration: none;
  height: 100%;
}

header.global-nav-header > ul#navigation-links > li > a {
  line-height: 64px;
  display: block;
  padding: 0 12px;
  text-decoration: none;
  color: var(--spectrum-global-color-gray-700);
}

header.global-nav-header > ul#navigation-links > li > button {
  height: 64px;
  padding: 0 12px;
  color: var(--spectrum-global-color-gray-700);
}

header.global-nav-header > ul#navigation-links > li > a:hover,
header.global-nav-header > ul#navigation-links > li > button:hover {
  background-color: var(--spectrum-global-color-gray-75);
  color: var(--spectrum-global-color-gray-900);
}

header.global-nav-header > ul#navigation-links > li.navigation-products a {
  display: block;
  padding: 0 24px;
  height: 100%;
}

header.global-nav-header > ul > li:first-of-type {
  padding: 0;
}

header.global-nav-header > ul#navigation-links > li {
  align-items: center;
}

header.global-nav-header > ul > li.item-select {
  border-bottom: 1px solid #eaeaea;
  border-bottom-width: thick;
}

header.global-nav-header > ul > li a:hover {
  background-color: var(--spectrum-global-color-gray-75);
  color: var(--spectrum-global-color-gray-900);
}

header.global-nav-header div.nav-dropdown-popover {
  margin-top: -6px;
  margin-left: -1px;
}

header.global-nav-header a.nav-dropdown-links {
  text-decoration: none;
  color: var(--spectrum-global-color-gray-700);
}

header.global-nav-header a.nav-dropdown-links:visited {
  color: var(--spectrum-global-color-gray-700);
}

header.global-nav-header div.nav-console-right-container {
  margin-left: auto;
  display: flex;
  align-items: center;
}

header.global-nav-header div.nav-console-search-button {
  margin-right: 24px;
}

header.global-nav-header div.nav-console-button {
  margin-right: 16px;
}


header.global-nav-header div.nav-sign-in {
  margin-right: 24px;
}

header.global-nav-header div#nav-profile-dropdown-popover {
  width: var(--spectrum-global-dimension-size-3400);
  max-height: var(--spectrum-global-dimension-size-4600);
  right: 0;
  top: calc(64px - var(--spectrum-overlay-animation-distance) + 1px);
}

header.global-nav-header div.nav-profile-popover-innerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header.global-nav-header div.nav-profile-popover-avatar-button > img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

header.global-nav-header div.nav-profile-popover-avatar {
  width: 75px;
  height: 75px;
  border-radius: var(--spectrum-global-dimension-static-percent-50);
  background: var(--spectrum-global-color-gray-50);
  overflow: hidden;
  margin-top: var(--spectrum-global-dimension-size-200);
  margin-bottom: var(--spectrum-global-dimension-size-300);
}

header.global-nav-header div.nav-profile-popover-avatar > img{
  width: 75px;
  height: 75px;
}

header.global-nav-header div.nav-profile-popover-name {
  padding: 0 var(--spectrum-global-dimension-size-200);
  text-align: center;
  color: var(--spectrum-global-color-gray-800);
  margin-bottom: var(--spectrum-global-dimension-size-300);
}

header.global-nav-header div.nav-profile-popover-divider {
  margin-bottom: var(--spectrum-global-dimension-size-250);
  padding: 0 var(--spectrum-global-dimension-size-250);
  box-sizing: border-box;
  width: 100%;
  color: var(--spectrum-global-color-gray-300);
}

header.global-nav-header a.nav-profile-popover-edit {
  margin-bottom: var(--spectrum-global-dimension-size-250);
}

header.global-nav-header a.nav-profile-popover-sign-out {
  padding: 0 var(--spectrum-global-dimension-size-300);
  margin-bottom: var(--spectrum-global-dimension-size-300);
}
