@font-face {
  font-family: "adobe-clean";
  src: url("https://use.typekit.net/af/37eaae/00000000000000003b9b3f83/27/l?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n3&v=3") format("woff2"), url("https://use.typekit.net/af/37eaae/00000000000000003b9b3f83/27/d?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n3&v=3") format("woff"), url("https://use.typekit.net/af/37eaae/00000000000000003b9b3f83/27/a?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n3&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: "adobe-clean-serif";
  src: url("https://use.typekit.net/af/505d17/00000000000000003b9aee44/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"), url("https://use.typekit.net/af/505d17/00000000000000003b9aee44/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"), url("https://use.typekit.net/af/505d17/00000000000000003b9aee44/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 900; }

html {
  font-family: adobe-clean, sans-serif; }

* {
  margin: 0;
  padding: 0; }

.services > div {
  padding: 4.5rem 0;
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem; }
  .services > div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .services > div > div p, .services > div > div h2 {
      text-align: center; }
      .services > div > div p a, .services > div > div h2 a {
        color: #000000;
        text-decoration: none; }
    .services > div > div img {
      width: 250px; }

.banner {
  background-color: #dc2626;
  color: #f8fafc; }
  .banner > div {
    max-width: 1024px;
    margin: 0 auto;
    padding: 4.5rem 0; }
  .banner h1 {
    margin: 1.5rem 0; }
  .banner p {
    font-size: 14px; }
  .banner h3 {
    margin-top: 1.5rem; }
    .banner h3 a {
      font-size: 14px;
      padding: .25rem .5rem;
      color: #f8fafc;
      border: 1px solid #f8fafc;
      border-radius: 3rem;
      text-decoration: none; }

.header > div {
  max-width: 1024px;
  margin: 0 auto; }
  .header > div table {
    width: 100%; }
    .header > div table td img {
      width: 50px; }

.hero {
  background-image: url("./assets/hero.png");
  position: relative;
  width: 100%;
  height: 350px; }
  .hero > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%; }
    .hero > div h1 {
      color: white;
      font-family: adobe-clean-serif, "Source Serif Pro", Georgia, serif;
      font-weight: 700;
      font-size: 45px;
      line-height: 1.3;
      font-style: normal;
      letter-spacing: 0;
      text-transform: none; }
    .hero > div h2 {
      color: white;
      margin-top: 0 !important;
      margin-bottom: 20px !important;
      font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
      font-weight: 700;
      line-height: 1.3;
      font-style: normal;
      letter-spacing: 0;
      font-size: 28px; }
    .hero > div p {
      font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
      font-size: 18px;
      color: #e3e3e3 !important; }
