header {
    padding: 1rem 1.5rem;
    & > div {
        display: flex;
        align-items: center;
        .logo {
            & > div {
                display: flex;
                align-items: center;
            }
            img {
                width: 36px;
                margin-right: 1rem;
            }
        }
        .left-nav {
            ul {
                display: flex;
                align-items: center;
                list-style: none;
                 li {
                     margin: 0 1rem;
                 }
            }
        }
    }
}
