.hero {
    background-image: url('./assets/landing.png');
    position: relative;
    width: 100%;
    height: 350px;
    > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
        h1 {
            color: $spectrum-global-dark-color-gray-900;
            font-family: $spectrum-global-font-family-serif;
            font-weight: $spectrum-global-font-weight-bold;
            font-size: $spectrum-alias-heading-xxl-text-size;
            line-height: $spectrum-global-font-line-height-small;
            font-style: $spectrum-global-font-style-regular;
            letter-spacing: $spectrum-global-font-letter-spacing-none;
            text-transform: none;
        }
        h2 {
            color: $spectrum-global-dark-color-gray-900;
            margin-top: 0 !important;
            margin-bottom: $spectrum-global-dimension-size-200 !important;
            font-family: $spectrum-global-font-family-base;
            font-weight: $spectrum-global-font-weight-bold;
            line-height: $spectrum-global-font-line-height-small;
            font-style: $spectrum-global-font-style-regular;
            letter-spacing: $spectrum-global-font-letter-spacing-none;
            font-size: $spectrum-alias-heading-l-text-size;

        }
        p {
            font-family: $spectrum-global-font-family-base;
            font-size: $spectrum-global-dimension-size-225;
            color: $spectrum-global-dark-color-gray-800 !important;
        }
    }
}
